<div style="text-align: center; margin-top: 50px;">
    <h1 style="color: red;">Oops! Something went wrong.</h1>

    <h3>Error Details:</h3>

    <p style="background: #ffe6e6; padding: 15px; display: inline-block; border-radius: 5px;">
        {{message}}
    </p>

    <br><br>
    <a href="/listings" style="text-decoration: none; color: blue;">Return to Home</a>
</div>